*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
}


@media (min-width:400){
  .space{
      width: 100vh;
      height: 100%;
  }
}
